*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}
.sidenavbar{
    height: 100vh;
    width: 250px;
    background-color: rgba(15, 15, 82, 0.769);
    /* padding-left: 30px; */
    line-height:50px ;
    border-left: 3px solid transparent;
    transform: translate(-110%);
}
.sidenavbar header{
    line-height: 70px;
    font-size: 35px;
    background-color: rgb(102, 102, 238);
    text-align: center
}
.sidenavbar ul a{
    color: aliceblue;
    transition: .5s;
    text-decoration: none;

}
.sidenavbar ul li{
    list-style-type: none;
    padding-left: 40px;
}
.sidenavbar li:hover a{
    padding-left: 45px;
    border-left: 1px solid aquamarine;
    color: aquamarine;
}
.toggle{
    position: absolute;
    /* background: #000; */
    top: 30px;
    left: 330px;
}
.toggle span{
    background-color: #000;
    height: 4px;
    width: 45px;
    display: block;
    margin-top: 4px;
}
.sidenavbar .active{
    left: 0;
}